<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>ini header</h3>
    <h1>ini request</h1>
    <form action="" method="post">
        <label>nama</label>
        <input name="nama" type="text" required>
        <label>detail</label>
        <input name="detail" type="text" required>
        <button type="submit">kirim</button>
    </form>

    <hr>
    <h1>ini response</h1>
    {{context}}
    <br>
    <table>
        <thead>
            <tr>nama</tr>
            <tr>detail</tr>
    <br>
    {% for d in context %}
    <ul>
        <li>{{d}}</li>
    </ul>   
    {% endfor %}
    
</body>
</html>