<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Halaman Update</h1>
    <form action="" method="post">
        <label for="">judul</label>
        <input for="judul" type="text" required>
        <label for="">sajak</label>
        <input name="sajak" type="text" required>
        <button type="submit"><input type="text"></button>
    </form>
</body>
</html>